<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body ng-controller="ctrl">
Text: <input type="text" ng-model="text"><br><br>
Target: <input type="text" ng-model="target"><br><br>
Replace: <input type="text" ng-model="replace">
<hr><br>
{{text}}<hr>{{replaceText()}}
<hr><br>
<!-- {{replaceText | "Arjun" : "Shiva"}} -->

<!-- <p>One day, Ravi father sat him down for a serious talk. “Ravi, if you keep being this lazy, the world will leave you behind,” he warned. But the words didn hit Ravi... until one afternoon.

    Ravi's cousin, Arjun, came to visit. Arjun was a software engineer at a big tech company, and he always had cool gadgets, stories about traveling for work, and freedom to work from anywhere. Ravi saw how much respect Arjun got from family and friends. More than that, Arju lifestyle seemed really fun—and Ravi wanted that life.
    
    “Hey, Arjun! How did you become a software engineer?” Ravi asked.
    “Well,” Arjun said with a smirk, “I started learning coding. It tough at first, but once you get the hang of it, the opportunities are endless.”
    
    The idea planted itself in Ravi mind. He thought, "If Arjun can do it, maybe I can too." But old habits die hard, and Ravi was still the laziest person he knew.</p> -->
    
    
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
</body>
</html>













<!-- <!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body ng-controller="ctrl">
<input type="number" ng-model="num">
Square root of {{num}} is {{output()}}
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
</body>
</html> -->