<!DOCTYPE html>
<html lang="en" ng-app="LunchCheck">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <header>Assignment 1</header>
    <div ng-controller="LunchCheckController">
        <input type="text" ng-model="Items" placeholder="Enter your items">
        <p style="color: {{textColor}}">{{msg}}</p>
        <button ng-click="CheckNow()">Check if too much</button>
    </div>
    <footer>Created 🤍<a href="https://github.com/prince-gh">Prince</a></footer>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
</body>
</html>